###
#
# This is an example Docker Compose file for running Electrs.
# It uses environment variables defined in the .env file for configuration.
#
# See the run.sh script and .env file for more details.
#
###

version: "3"

services:
  electrs:
    image: ${DOCKER_USER}/electrs:${TAG}
    restart: unless-stopped

    network_mode: host
    
    # Note that the container will expose the Electrs RPC port (default: 50001)

    environment:
      ELECTRS_DB_DIR: ${DB_DIR}
      ELECTRS_NETWORK: bitcoin
      ELECTRS_LOG_FILTERS: INFO
      ELECTRS_SERVER_BANNER: ${BANNER}
      ELECTRS_DAEMON_RPC_ADDR: ${BTC_ADDR}:${BTC_RPC_PORT}
      ELECTRS_DAEMON_P2P_ADDR: ${BTC_ADDR}:${BTC_P2P_PORT}
      ELECTRS_ELECTRUM_RPC_ADDR: ${HOST_ADDR}:${HOST_PORT}

    volumes:
      - ${BITCOIN_DIR}:/root/.bitcoin:ro
      - ${ELECTRS_DIR}:/data
