# Electrs Docker Config

# Docker User
DOCKER_USER="<my-docker-user>"

# Electrs Version
TAG="v0.11.0"

# Electrs Display Banner
BANNER="⚡ Docker Electrs Server (${TAG}) ⚡ "

# Bitcoin Host Data Directory
BITCOIN_DIR="<path-to-my-bitcoin-dir>"

# Electrs Host Data Directory
ELECTRS_DIR="<where-to-put-electrs-data>"

# Bitcoin Node
BTC_ADDR="host.docker.internal"
BTC_RPC_PORT=8332
BTC_P2P_PORT=8333

# Electrs Server
HOST_ADDR="0.0.0.0"
HOST_PORT=50001
DB_DIR="${ELECTRS_DIR}/db"
