# Electrs Docker Config

# Docker User
DOCKER_USER="<my-docker-user>"

# Electrs Version
TAG="v0.10.0"

# Display Banner
BANNER="⚡ Docker Electrs Server (${TAG}) ⚡"

# Host Data Directories
BITCOIN_DIR="<my-bitcoin-data-dir>"
ELECTRS_DIR="<my-electrs-data-dir>"

# Bitcoin Node
BTC_ADDR="x.x.x.x"
BTC_RPC_PORT=8332
BTC_P2P_PORT=8333

# Electrs Server
HOST_ADDR="0.0.0.0"
HOST_PORT=50001
DB_DIR="/data/db"
DAEMON_DIR="/data/.bitcoin"
