# Electrs Docker

# Docker User
DOCKER_USER="<my-docker-user>"

# Electrs Version
TAG="v0.11.1"

# Bitcoin Host Data Directory
BITCOIN_DIR="<path-to-bitcoin-dir>"

# Bitcoin Node
# Use 127.0.0.1 with --network host (Linux)
# Use host.docker.internal (Docker Desktop)
# For signet: ports are 38332 (RPC) and 38333 (P2P)
BTC_ADDR="127.0.0.1"
BTC_RPC_PORT=8332
BTC_P2P_PORT=8333

# Log level (DEBUG, INFO, WARN, ERROR)
ELECTRS_LOG_FILTERS="INFO"

# Electrs Host Data Directory
ELECTRS_DIR="<path-to-electrs-data-dir>"

# Electrs Network (bitcoin=mainnet, signet=testnet)
ELECTRS_NETWORK="bitcoin"

# Electrs Server
HOST_ADDR="0.0.0.0"
HOST_PORT=50001
DB_DIR="${ELECTRS_DIR}/db"

# Electrs Display Banner
BANNER="⚡ Docker Electrs Server - ${TAG} - [$(ELECTRS_NETWORK)] ⚡ "
