name: Build

on:
  push:
    branches: [main]
    tags: ['v*']

  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab on GitHub.
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build and publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image (amd64)
        env:
          IMG_NAME: ghcr.io/${{ github.repository_owner }}/electrs-docker
        uses: docker/build-push-action@v3
        with:
          push: true
          platforms: linux/amd64
          tags: |
            ${{ env.IMG_NAME }}:latest
            ${{ env.IMG_NAME }}:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
